
#page-welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
#page-welcome h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-wrap:pretty;
    margin-bottom: 1rem;
}
#page-welcome p {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    text-wrap:pretty;
    margin-bottom: 4rem;
}
#timer-options{
    width:  60%;
    display: flex;
    justify-content: center ;
    gap: 2rem;
}
#card{
    padding: 1rem 1.5rem;
    background:#f7f2eb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 1rem;
    max-width: 35rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center; /* Agregado para posicionar .learn-more */
}
#card img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
}
#card h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#card .card-description {
    font-size: 1rem;
    font-weight: 350;
    text-align: left;
    text-wrap: pretty;
    margin-bottom: 3rem;
}
#card .learn-more {
    position: absolute;
    bottom: 1rem;
    left: 1.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(245, 66, 31, 0.8);
    cursor: pointer;
}











