#register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    text-align: center;

}

h2 {
    margin-top: 1em;
    font-size: 3em;
    padding-top: 1cqi;
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

#settings-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el formulario */
    background-color: #fff8ee;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 599px;
    margin: 0 auto;
    margin-top: 5em;/* Asegura que el contenido interno esté centrado */
}



.config-item {
    margin: 1em 0;
    width: 100%;
    max-width: 500px;
}

.config-item label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.config-item input[type="text"],
.config-item input[type="email"] {
    width: 70%;
    padding: 10px;
    padding-left: 1em;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #ffffff;
    color: #080808;
}

.config-item input[type="text"]::placeholder,
.config-item input[type="email"]::placeholder {
    color: #7a7a7a;
}

#user-image2 {
    display: flex;
    margin-bottom: 1em; 
    width: 6em;
    height: 6em;
    border: 3px solid #000;
    border-radius: 50%;
}


#user-image2 img {
    border-radius: 50%;
    border: 3px solid #000;
    cursor: pointer;
}

#settings-form button {
    width: 100%;
    padding: 10px;
    background-color: #f5421f66;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#settings-form button:hover {
    background-color: #f5421f;
}

#login-redirect {
    margin-top: 2em;
    text-align: center; /* Centra el texto */
    color: #000000;
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
}

#logout-link {
    color: #1372b0;
    text-decoration: underline;
    margin-left: 0.5rem;
    cursor: pointer;
    display: inline-block; /* Garantiza que se comporte como un elemento en línea */
}

